include ../../../../templates/head

block main

  section#main-content
    section.wrapper.site-min-height
      .row.mt
        .col-md-12
          .content-panel
            .container-fluid
              table.table.table-striped.table-advance.table-hover
                h4
                  | All Membership Categories
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                    i.fa.fa-dumbbell
                    |  Add Category
                thead
                  tr
                    th
                      i.fa.fa-dumbbell
                      |  Name
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  each ct in cats
                    tr
                    
                      td #{ct.membershipname}
                      td
                        button.btn.btn-info.btn-xs(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#viewmodal' data-name=ct.membershipname data-desc=ct.membershipdesc)
                            i.fa.fa-search
                        button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Edit', data-target='#editmodal' data-name=ct.membershipname data-desc=ct.membershipdesc data-id=ct.membershipID)
                          i.fa.fa-edit
                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently' data-target='#deletemodal' data-id=ct.membershipID)
                            i.fa.fa-trash-alt
            // /content-panel
    // MODAL ADD MEMBERSHIP
    #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Membership Category
          form(action='/category', method='POST')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Category Name
                        input.form-control(type='text' name='catname')
                  .row
                    .col-md-12
                      label.control-label Description
                      .form-group
                        textarea#prog-desc.form-control(style='resize:none', name='catdesc', rows='3')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Add Category
    //VIEW MODAL
    #viewmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Membership Category Description
          form(action='', method='POST')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 
                          span#name
                  .row
                    .col-md-12
                      label.control-label Description
                      p
                        span#desc
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close    
    // MODAL EDIT MEMBER
    #editmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Category
          form(action='/category/edit', method='POST')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Category Name
                        input#name.form-control(type='text' name='catname')
                  .row
                    .col-md-12
                      label.control-label Description
                      .form-group
                        textarea#desc.form-control(style='resize:none', name='catdesc', rows='3')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    // MODAL DELETE
    #deletemodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Category
          form(action='/category/delete', method='POST')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this category?
                    input.hidden#id(type='text' name='id')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

include ../../../../templates/foot

script.
  $(document).ready(function(){
  $('#memdrop').addClass('active');
  $('#memcateg').addClass('active');
  });
script.

      $('#viewmodal').on('show.bs.modal', function(event){
          let button = $(event.relatedTarget) 
      
        //mobile
          let name = button.data('name')
        console.log(name)
      //email
         let desc = button.data('desc')
          console.log(desc)

          let modal = $(this)     
          modal.find('.modal-body span#name').text(` ${name}`)  
          modal.find('.modal-body span#desc').text(` ${desc}`)  
    })

script.

    $('#editmodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var desc = button.data('desc')
        var name = button.data('name')
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #name').val(` ${name}`)
        modal.find('.modal-body #desc').val(` ${desc}`)
        modal.find('.modal-body #id').val(` ${id}`)
    }) 
script.

    $('#deletemodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        //id
        var id = button.data('id')
        console.log(id)


        let modal = $(this)     

        modal.find('.modal-body #id').val(` ${id}`)
    })

