include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid 
                table.table.table-striped.table-advance.table-hover
                  h4
                    | All Events
                    button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add-modal')
                      i.fa.fa-plus
                      |  Add Event
                  thead
                    tr
                      th
                        i.fa.fa-dumbbell
                        |  Name
                      th
                        i.fa.fa-calendar-alt
                        |  Start Date
                      th
                        i.fa.fa-calendar-alt
                        |  End Date
                      //- th
                      //-   i.fa.fa-home
                      //-   |  Location
                      //th
                        i.fa.fa-check-double
                        |  Availability
                      th
                        i.fa.fa-clock
                        |  Time
                      th
                        i.fa.fa-users
                        |  Slot Left
                      //th
                        i.fa.fa-bookmark
                        |  Status
                      th
                        i.fa.fa-edit
                        |  Action
                  tbody
                    each ev in eves
                      tr
                        td #{ev.eventclassname}
                        td #{ev.startdate}
                        td #{ev.enddate}
                        //- td 1185 Sitio Saguipin
                        //-td All
                        td #{ev.starttime} - #{ev.endtime}
                        td #{ev.slot}
                        //-td
                          .switch(style='width:50px;', data-on-label="<i class=' fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
                            input(type='checkbox', checked='')
                        td
                          button.view.btn.btn-info.btn-xs(data-toggle='modal', data-target='.view-modal')
                            i.fa.fa-search
                          button.view.btn.btn-warning.btn-xs(data-toggle='modal', data-target='.add-modal')
                            i.fa.fa-user-plus
                          button.edit.btn.btn-success.btn-xs(data-toggle='modal', data-target='.edit-modal')
                            i.fa.fa-edit
                          button.del.btn.btn-danger.btn-xs(data-toggle='modal', data-target='.del-modal')
                            i.fa.fa-trash-alt

//MODAL
#add-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Schedule an Event
      form(action='/event', method='POST')
        .modal-body
          .container-fluid
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Event Name
                    input.form-control(type='text' name='event')
              .row
                .col-md-6
                  .form-group
                    label.control-label Start Date
                    input.form-control.datee(type='text' name='start')
                .col-md-6
                  .form-group
                    label.control-label End Date
                    input.form-control.datee(type='text' name='end')
              //.row
                .col-md-12
                  .form-group
                    label.control-label Location
                    select.form-control
                      option.hidden Select Location...
                      option Specific 
                      option Interbranch
                      option Sta. Mesa
                      option Marikina
              .row
                .col-md-12
                  .form-group
                    label.control-label Slots
                    input.form-control(type="number" name='slot')
              .row
                .col-md-6
                  .form-group
                    label.control-label Start Time
                    input.form-control(type='time' name='startt')
                .col-md-6
                  .form-group
                    label.control-label End Time
                    input.form-control(type='time' name='endt')
              //.row
                .col-md-6
                  .form-group
                    label.control-label Availability
                    select#branch.form-control
                      option Select Availability... 
                      option All 
                      option Members Only
                .col-md-6
                  .form-group
                    label.control-label Slot
                    input.form-control(type='number' name='slot')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add Event

//MODAL
.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title All Attendants
      form(action='', method='post')
        br
        .container-fluid
      
          table.table.table-striped.table-advance.table-hover
            
              
            thead
              tr
                th 
                  i.fa.fa-bookmark
                  |  No.
                th 
                  i.fa.fa-user
                  |  Name
                th
                  i.fa.fa-bookmark
                  |  Category
            tbody
              tr
                td 1.
                td John Doe
                td Walk-In
                      
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Print

          
//MODAL
.edit-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Schedule an Event
      form(action='', method='post')
        .modal-body
          .container-fluid
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Event Name
                    input.form-control(type='text' name='event')
              .row
                .col-md-6
                  .form-group
                    label.control-label Start Date
                    input.form-control.datee(type='text' name='start')
                .col-md-6
                  .form-group
                    label.control-label End Date
                    input.form-control.datee(type='text' name='end')
              //.row
                .col-md-12
                  .form-group
                    label.control-label Location
                    select.form-control
                      option.hidden Select Location...
                      option Specific 
                      option Interbranch
                      option Sta. Mesa
                      option Marikina
              .row
                .col-md-12
                  .form-group
                    label.control-label Slots
                    input.form-control(type="number" name='slot')
              .row
                .col-md-6
                  .form-group
                    label.control-label Start Time
                    input.form-control(type='time' name='startt')
                .col-md-6
                  .form-group
                    label.control-label End Time
                    input.form-control(type='time' name='endt')
              //.row
                .col-md-6
                  .form-group
                    label.control-label Availability
                    select#branch.form-control
                      option Select Availability... 
                      option All 
                      option Members Only
                .col-md-6
                  .form-group
                    label.control-label Slot
                    input.form-control(type='number' name='slot')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Save

//- ADD WALKIN
.add-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add a non-member participant
      form(action='', method='post')
        .modal-body
          .container-fluid
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-6
                  .form-group
                    label.control-label First Name
                    input.form-control(type='text')
                .col-md-6
                  .form-group
                    label.control-label Last Name
                    input.form-control(type='text')
              .row
                .col-md-12
                  .form-group
                    label.control-label Contact Info
                    input.form-control(type='text')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Add participant
              



include ../../../../templates/foot

script.
  $(document).ready(function(){
    $('#transactionDrop').addClass('active');
    $('#event').addClass('active');
    });

script.
  $(".datee").datepicker({
    changeMonth: true,
    changeYear: true,
    todayHighlight: true,
    maxViewMode: 2,
    startView: 0,
    autoclose: true,
    startDate: "today"
    });
