include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4 All Freezed Members
                  thead
                    tr
                      th
                        i.fa.fa-user
                        |  Name
                      th
                        i.fa.fa-phone
                        |  Contact
                      th
                        i.fa.fa-bookmark
                        |  Membership
                      th
                        i.fa.fa-calendar-alt
                        |  Freezing Date
                      th
                        i.fa.fa-edit
                        |  Action
                  tbody
                    each fr in fres
                      tr
                        td.hidden-phone #{fr.userfname} #{fr.userlname}
                        td #{fr.usermobile}
                        td #{fr.memclassname}-#{fr.membershipname}
                        td #{fr.datefrozen}
                        td
                          button.btn.btn-danger.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Unfreeze Account')
                            i.fa.fa-fire
                          button.btn.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently')
                            i.fa.fa-trash-alt
              // /content-panel
include ../../../../templates/foot

script.
  $(document).ready(function(){
    $('#transactionDrop').addClass('active');
    $('#memberDrop').addClass('active');
    $('#freezed').addClass('active');
    });
