include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height 
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4
                    | Regular Exclusive Member
                    button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                      i.fa.fa-user-plus
                      |  Add Member
                  thead
                    tr
                    
                      th
                        i.fa.fa-user
                        |  Name
                      th
                        i.fa.fa-home
                        |  Branch 
                      th
                        i.fa.fa-bookmark
                        |  Membership
                      th
                        i.fa.fa-bookmark
                        |  Membership Expiration
                      th
                        i.fa.fa-bookmark
                        |  Status  
                      th
                        i.fa.fa-edit
                        |  Action
                  tbody
                    each re in regs
                      tr
                        td.hidden-phone #{re.userfname} #{re.userlname}
                        td  #{re.branchname}
                        td  #{re.memclassname}-#{re.membershipname}  
                        td  #{re.expiry}
                        td  
                          if re.statusfront == 'Active'
                            span.label.label-success
                              | #{re.statusfront}
                          else if re.statusfront == 'Inactive'
                            span.label.label-danger
                              | #{re.statusfront}                     
                        td
                          button.freeze.btn.btn-primary.btn-xs(data-toggle='modal', data-target='.freeze-modal', data-id=re.userid)
                            i.fa.fa-snowflake
                          button.edit.btn.btn-success.btn-xs(data-toggle='modal', data-target='.edit-modal')
                            i.fa.fa-edit
                          button.train.btn.btn-warning.btn-xs(data-toggle='modal', data-target='.sorted' data-id=re.userid)
                            i.fa.fa-dumbbell
                          button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='')
                            i.fa.fa-exclamation-circle
                          
          
// MODAL ADD MEMBER
#add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Member Manually
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row
              .col-xs-12
                h5 Personal Info
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-6
                  .form-group
                    label.control-label First Name
                    input.form-control(type='text')
                .col-md-6
                  .form-group
                    label.control-label Last Name
                    input.form-control(type='text')
              .row
                .col-md-6
                  .input-group
                    .input-group-addon Gender:
                    label.radio
                      | Male
                      input(type='radio', checked='', name='gen')
                      span.dot
                    label.radio
                      | Female
                      input(type='radio', name='gen')
                      span.dot
                .col-md-6
                  .form-group
                    label.control-label Date of Birth
                    input#datepicker.form-control(type='text')
              .row
                .col-md-12
                  .form-group
                    label.control-label Address
                    input.form-control(type='text')
              .row
                .col-md-6
                  .form-group
                    label.control-label Mobile Number
                    input.form-control(type='text', value='+639')
                .col-md-6
                  .form-group
                    label.control-label Email
                    input.form-control(type='email')
            .row
              .col-md-12
                h5 Login Information
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Username
                    input.form-control(type='text')
            .row
              .col-md-12
                h5 More Information
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Membership
                    select.form-control
                      option Select Membership... 
                      option Gold Membership - (360 days) - Interbranch
                      option Silver Membership - (120 days) - Interbranch
                      option Bronze Membership - (30 days) - Interbranch
              .row
                .col-md-12(style='color:gray; font-size:10pt')
                  i
                    p
                      | Interbranch - Membership valid to all branches.
                      br
                      | Exclusive - Membership valid only to the branch you choose.
                    p(style='margin:0;') Note: Rates vary on type of membership. "Interbranch" costs more.
                    br
              .row
                .col-md-6
                  .form-group
                    label.control-label Branch
                    select#branch.form-control(disabled='')
                      option Sta. Mesa
                      option Marikina
                .col-md-6
                  .form-group
                    label.control-label Interested Area
                    select.form-control
                      option Select Interest... 
                      option Body Building
                      option Weight Gain
                      option Weight Loss
                      option General Fitness
              .row
                .col-md-12
                  label.checkbox
                    | Are you a Student?
                    input.student(type='checkbox')
                    span.check
                  p.first Uncheck if you are unwilling to provide proof.
              .row
                .col-md-12(style='color:gray; font-size:10pt')
                  i
                    .second(style='display: none')
                      | You can avail a student discount if we can confirm your claim. Give us proof (eg. student ID, registration
                      | card etc.) through our branch near you. 
                      br
                      br
                      | Or upload a scanned photo of your ID 
                      input#file.inputfile(type='file')
                      br
                      | NOTE:
                      |  After Submitting this form, We will send you an email containing a code to present to the gym upon payment.
                    
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Add Member

// MODAL EDIT MEMBER
.edit-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Member Manually
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row
              .col-xs-12
                h5 Personal Info
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-6
                  .form-group
                    label.control-label First Name
                    input.form-control(type='text')
                .col-md-6
                  .form-group
                    label.control-label Last Name
                    input.form-control(type='text')
              .row
                .col-md-6
                  .input-group
                    .input-group-addon Gender:
                    label.radio
                      | Male
                      input(type='radio', checked='', name='gen')
                      span.dot
                    label.radio
                      | Female
                      input(type='radio', name='gen')
                      span.dot
                .col-md-6
                  .form-group
                    label.control-label Date of Birth
                    input#datepicker.form-control(type='text')
              .row
                .col-md-12
                  .form-group
                    label.control-label Address
                    input.form-control(type='text')
              .row
                .col-md-6
                  .form-group
                    label.control-label Mobile Number
                    input.form-control(type='text', value='+639')
                .col-md-6
                  .form-group
                    label.control-label Email
                    input.form-control(type='email')
            .row
              .col-md-12
                h5 Login Information
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Username
                    input.form-control(type='text')
            .row
              .col-md-12
                h5 More Information
                hr
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-12
                  .form-group
                    label.control-label Membership
                    select.form-control
                      option Select Membership... 
                      option Gold Membership - (360 days) - Interbranch
                      option Silver Membership - (120 days) - Interbranch
                      option Bronze Membership - (30 days) - Interbranch
              .row
                .col-md-12(style='color:gray; font-size:10pt')
                  i
                    p
                      | Interbranch - Membership valid to all branches.
                      br
                      | Exclusive - Membership valid only to the branch you choose.
                    p(style='margin:0;') Note: Rates vary on type of membership. "Interbranch" costs more.
                    br
              .row
                .col-md-6
                  .form-group
                    label.control-label Branch
                    select#branch.form-control(disabled='')
                      option Sta. Mesa
                      option Marikina
                .col-md-6
                  .form-group
                    label.control-label Interested Area
                    select.form-control
                      option Select Interest... 
                      option Body Building
                      option Weight Gain
                      option Weight Loss
                      option General Fitness
              .row
                .col-md-12
                  label.checkbox
                    | Are you a Student?
                    input.student(type='checkbox')
                    span.check
                  p.first Uncheck if you are unwilling to provide proof.
              .row
                .col-md-12(style='color:gray; font-size:10pt')
                  i
                    .second(style='display: none')
                      | You can avail a student discount if we can confirm your claim. Give us proof (eg. student ID, registration
                      | card etc.) through our branch near you. 
                      br
                      br
                      | Or upload a scanned photo of your ID 
                      input#file.inputfile(type='file')
                      br
                      | NOTE:
                      |  After Submitting this form, We will send you an email containing a code to present to the gym upon payment.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save

    // MODAL ADD MEMBER
.freeze-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Freeze Account
      form(action='/freeze', method='POST')
        .modal-body
          .container-fluid
            .row
            p Note: Failing to unfreeze account within due date period Will result to termination of membership. Visit one of our branches to 
              span(style='color:orange;')
                |  unfreeze 
              | your account.
            .row
              .col-md-12
                .form-group
                  label.control-label Duration (months)
                  input.form-control(type="number" name="freezevalue")
                  input.hidden.id(type="text" name="id")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Freeze Account



//-----------------------------------------------------------------------------------------------------------
//- A S S I G N   T R A I N E R
//-----------------------------------------------------------------------------------------------------------

// MODAL 
.assign-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Sort Trainers
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
              .row
                .col-md-6
                  .form-group
                    label.control-label Branch
                    select#branch.form-control
                      option Sta. Mesa
                      option Marikina
                .col-md-6
                  .form-group
                    label.control-label Specialization
                    select.form-control(id='')
                      option Body Building
                      option Weight Loss
              .row
                .input-group(style='margin-left:7%;')
                  label.checkbox
                    | Mon
                    input.day(type='checkbox', value='monday')
                    span.check
                  label.checkbox
                    | Tue
                    input#day.day(type='checkbox', value='tuesday')
                    span.check
                  span.input-group-addon
                  label.checkbox
                    | Wed
                    input.day(type='checkbox', value='wednesday')
                    span.check
                  label.checkbox
                    | Thu
                    input.day(type='checkbox', value='thursday')
                    span.check
                  span.input-group-addon
                  label.checkbox
                    | Fri
                    input.day(type='checkbox', value='friday')
                    span.check
                  label.checkbox
                    | Sat
                    input.day(type='checkbox', value='saturday')
                    span.check
                  span.input-group-addon
                  label.checkbox
                    | Sun
                    input.day(type='checkbox', value='sunday')
                    span.check
              .row
                br
                .col-md-12
                  button#sort.btn.btn-primary(type='button' style="width:100%;") Sort
                  
// SORTED TRAINER MODAL
.sorted.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Assign Member to a Trainer
      form(action='/assign', method='POST')
        .modal-body
          .container-fluid
            content-panel
              table.table.table-striped.table-advance.table-hover
                input.hidden#id(type='text' name='id')
                br
                thead
                  tr
                    th
                      i.fa.fa-user
                      |  Name 
                    th
                      i.fa.fa-genderless
                      |  Gender
                    th
                      i.fa.fa-calendar-alt
                      |  Schedule
                    //- th
                    //-   i.fa.fa-home
                    //-   |  Branch
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  each as in ass
                    tr
                      td #{as.userfname} #{as.userlname}
                        a.showImg
                          span(style='margin-left:20px; cursor:pointer;')  
                            i.fa.fa-image 
                            small  Show Details
                      td #{as.usergender}
                      td #{as.userschedule}
                      //- td A-team Marikina
                      td
                        button.btn.btn-info.btn-theme(type='submit')
                          | Assign

//IMAGE + DESCRIPTION
.showImgModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Trainer Details
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row(style='margin-top:15px; margin-bottom:15px;') 
              .col-md-6
                img(src="../../../../../assets/img/trainer/trainer.jpg", alt="" width='100%', style='max-width:720px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;')
              .col-md-6
                .row
                    h5
                      b Name:
                      |  John Doe
                      br
                      br
                      b Gender:
                      |  Male
                      br
                      br
                      b Age:
                      |  31
                      br
                      br
                      b Mobile Number:
                      |  09291964686
                      br
                      br
                      b E-mail Address:
                      |  johndoe@gmail.com
                      br
                      br
                      b Description:
                      |  There are many reasons why people choose to exercise. Whether you want to improve your sport performance, reduce health risks, or look and feel better I can help you achieve your goals. Using a functional, yet fun approach I’ll help give you an edge – an edge in performance, and edge in health, and an edge in life.
                      br
         
include ../../../../templates/foot

script.
  $('.freeze-modal').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget);
    var id = button.data('id');
    let modal = $(this);

    modal.find('.modal-body .id').val(`${id}`);
  })
  
script.
  $('.edit').click(function () {
  $('.student').prop('checked', false);
  });
  $('.student').click(function () {
    if ($(this).is(':checked')) {
      $('.second').show();
    }
    else{
      $('.second').hide();
    }
    $('.first').hide();
  });

//-----------------------//
//- TRAINING ASSIGNMENT -//
//-----------------------//

script.
  $('#back').click(function(){
  $('.sorted').modal('hide');
  })

script.
  $('#return').click(function(){
  $('.sorted').modal();
  })

script.
  $('.showImg').click(function(){
  $('.showImgModal').modal();
  $('.sorted').modal('hide');
  });

script.
  $("#sort").click(function () {
  getArray();
  });

script.
  function getArray(){
  var chkArray = [];
  $(".day:checked").each(function() {
  chkArray.push($(this).val());
  });
  var selected;
  selected = chkArray.join(',') ;
  if(selected.length > 0){
  //- alert("You have selected " + selected);
  $('.sorted').modal();
  $('.assign-modal').modal('hide');
  }
  else{
  alert("Please select at least one day");
  }
  }

script.
 $(document).ready(function(){
  $('#transactionDrop').addClass('active');
  $('#memberDrop').addClass('active');
  $('#exclusive').addClass('active');
  });

script.
  $('.sorted').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget)      
    var id = button.data('id')
    console.log(id)
    let modal = $(this)     
    modal.find('.modal-body #id').val(` ${id}`)
  })
